* { margin: 0; padding: 0;}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

.has-bg-img { 
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: black;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

canvas {
    border: none;
    /* background-color: black; */
}

video {
    display: none;
}